{% load static %}<!DOCTYPE=html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to PIP Assistant</title>
</head>
<body style="background-color:#05382E ">
<div class="heading">
    <h1 style="color:#ADD8E6;text-align:center;font-size:40px; padding:20px">PERSONAL INTERACTIVE PYTHON ASSISTANT</h1>
</div>
<div class="bot" height="800">
<img src="/media/chatbot.gif" height="600" width="400" />
<iframe
    allow="microphone;"
    height="800"
    width="1300"
    style="float:right"
    src="https://console.dialogflow.com/api-client/demo/embedded/54a523c2-2e97-4140-890f-ad26001e41bb">
</iframe>
</div>
</body>
</html>